{% extends 'web/base.html' %}
{% load static %}


{% block content %}
  <!-- =============Preloader Starts=============-->
  <div class="loader">
    <div class="face face-1">
      <div class="circle"></div>
    </div>
    <div class="face face-2">
      <div class="circle"></div>
    </div>
  </div>
  <!-- =============Preloader Ends=============-->

  <!-- header area starts -->

  {% include 'includes/header.html' %}
 
  <!-- header area ends -->
  <!-- Page Title Area Start -->
  <div class="page-title-area pt-150 pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page-titel-detalis  ">
            <div class="section-title">
              <h2>News Details</h2>
            </div>
            <div class="page-bc">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                  <li class="breadcrumb-item position-relative active" aria-current="page"><a
                      href="{% url 'web:news' %}">News Details</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title area Ends -->
  <!-- Blog Left Sidebar Start -->
  <div class="blog-area blog-ls blog-rs news-details-area pt-120">
    <div class="container">
      <div class="row ">
        <div class="col-xl-8 col-lg-8 col-md-12">
          <div class="news-details">
            <div class="news-img overflow-hidden">
              <img src="{% static 'web/img/blog/19.png' %}" alt="img">
            </div>
            <div class="news-title">
              <h4>Mauris gravida est quis neque moles tie blandit elit.</h4>
            </div>
            <div class="share-icon d-flex pt-10">
              <h6>Share:</h6>
              <ul class="social-icon">
                <li><a href=""><i class="lab la-facebook-f"></i></a></li>
                <li><a href=""><i class="lab la-twitter"></i></a></li>
                <li><a href=""><i class="lab la-instagram"></i></a></li>
                <li><a href=""><i class="lab la-vimeo"></i></a></li>
              </ul>
            </div>
            <div class="news-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labo re et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate ve
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sun
                culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste nat
                error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
              <p class="pt-15">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
            <div class="news-content pt-70 pb-50 pl-40 pr-50 mt-90">
              <p>Why I say old chap that is spiffing spend penny tosser brolly the little rotter fanny around argy bargy.</p>
              <span>Arafat Jamil</span>
            </div>
            <div class="news-text pt-55">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>

            </div>
            <div class="team mt-100 ">
              <div class="single-team d-flex pt-35 pb-35 pl-40 pr-50">
                <div class="team-member-img">
                  <img src="{% static 'web/img/team/1.png' %}" alt="img">
                </div>
                <div class="team-details ml-30 mt-5">
                  <h6>Arafat Jamil</h6>
                  <p>A long heritage fo the development environment with WordPress and everything related.</p>
                </div>
              </div>
              <div class="single-team d-flex pt-35 pb-35 pl-40 pr-50">
                <div class="team-member-img">
                  <img src="{% static 'web/img/team/1.png' %}" alt="img">
                </div>
                <div class="team-details ml-30 mt-5">
                  <h6>Momin Khan</h6>
                  <p>A long heritage fo the development environment with WordPress and everything related.</p>
                </div>
              </div>
            </div>
            <div class="related-post pt-115">
              <div class="section-title pb-25">
                <h6>Related Post</h6>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                  <div class="news-items mb-30">
                    <div class="news-img">
                      <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/7.png' %}" alt="img1"></a>
                    </div>
                    <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
                    <div class="news-details pt-5">
                      <div class="news-title">
                        <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique </a>
                      </div>    
                      <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                  <div class="news-items mb-30">
                    <div class="news-img">
                      <img src="{% static 'web/img/blog/21.png' %}" alt="img1">
                    </div>
                    <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
                    <div class="news-details pt-5">
                      <div class="news-title">
                        <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique </a>
                      </div>    
                      <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                  <div class="news-items mb-30 ">
                    <div class="news-img">
                      <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/8.png' %}" alt="img1"></a>
                    </div>
                    <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
                    <div class="news-details pt-5">
                      <div class="news-title">
                        <a href="{% url 'web:news' %}">Jamu ta khamu naante commo Condimentum a vehicula tristique </a>
                      </div>    
                      <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-comment pt-75">
              <div class="section-title">
                  <h6>Comments (2)</h6>
              </div>
              <div class="latest-comments pl-30 pt-35">
                <ul>
                  <li>
                    <div class="comments-box d-flex pt-20 ">
                      <div class="comments-avatar">
                        <img src="{% static 'web/img/team/2.png' %}" alt="man">
                      </div>
                      <div class="comments-text pl-30 pt-10 pr-40">
                        <div class="avatar-name d-inline-block">
                          <h6>Thoman Teroman</h6>
                          <span>Otct 10, 2020</span>
                        </div>
                        <div class="reply float-right"><span>Reply</span></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                      </div>
                    </div>
                    <ul class="comments-reply ml-70 ">
                      <li>
                        <div class="comments-box d-flex pt-35 ">
                          <div class="comments-avatar">
                            <img src="{% static 'web/img/team/3.png' %}" alt="man">
                          </div>
                          <div class="comments-text pl-30 pt-10 pr-40">
                            <div class="avatar-name d-inline-block">
                              <h6>Tory Hanza</h6>
                              <span>Otct 12, 2020</span>
                            </div>
                            <div class="reply float-right"><span>Reply</span></div>
                            <p>sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <hr>
                          </div>
                        </div>
                      </li>
                    </ul>

                  </li>
                  <li>
                    <div class="comments-box d-flex pt-35 ">
                      <div class="comments-avatar">
                        <img src="{% static 'web/img/team/3.png' %}" alt="man">
                      </div>
                      <div class="comments-text pl-30 pt-10 pr-40">
                        <div class="avatar-name d-inline-block">
                          <h6>Arafat Jamil</h6>
                          <span>Otct 21, 2020</span>
                        </div>
                        <div class="reply float-right"><span>Reply</span></div>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco empor inci
                          didunt ut labore et dolore magna aliqua.</p>
                       
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="comment-sidebar pt-80">
              <div class="section-title">
                  <h6>
                    Leave a Comment
                  </h6>
              </div>
              <div class="post-comment pt-25 pb-30">
                  <form action="#">
                      <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="name">
                                <input type="text" placeholder="Name">
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="email mt-30 mt-sm-0">
                                <input type="text" placeholder="Email">
                              </div>
                          </div>
                          <div class="col-xl-12">
                              <div class="comment-reply-area pt-30">
                                <textarea  cols="30" rows="10" placeholder="Comment"></textarea>
                              </div>
                              <div class="submit pt-30">
                                  <button class="p-btn border-0">Post Comment</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 pt-80 pt-lg-0">
          <div class="sidebar-widget">
            <div class="search position-relative">
              <input type="text" placeholder="Search..">
              <i class="fas fa-search"></i>
            </div>
            <div class="recent-post pt-55">
              <div class="sidebar-title">
                <h5>Recent Posts</h5>
              </div>
              <div class="post d-flex mt-25">
                <div class="post-img">
                  <img src="{% static 'web/img/blog/16.png' %}" alt="product">
                </div>
                <div class="post-details ml-20 mt-auto mb-auto">
                  <h6>Latest Fashion Trend</h6>
                  <span>Oct 06, 2021</span>
                </div>
              </div>
              <div class="post d-flex mt-30">
                <div class="post-img">
                  <img src="{% static 'web/img/blog/17.png' %}" alt="product">
                </div>
                <div class="post-details ml-20 mt-auto mb-auto">
                  <h6>Decorate your house</h6>
                  <span>April 22, 2021</span>
                </div>
              </div>
              <div class="post d-flex mt-30">
                <div class="post-img">
                  <img src="{% static 'web/img/blog/18.png' %}" alt="product">
                </div>
                <div class="post-details ml-20 mt-auto mb-auto">
                  <h6>Interior Design explained</h6>
                  <span>March 14, 2022</span>
                </div>
              </div>
            </div>
            <div class="categories mt-55">
              <div class="sidebar-title">
                <h5>Categories</h5>
              </div>
              <ul class="categories-list">
                <li><a href="#"> Fashion<span>(9)</span></a></li>
                <li><a href="#"> interior design <span>(09)</span></a></li>
                <li><a href="#"> electronics<span>(07)</span></a></li>
                <li><a href="#"> Uncategorized<span>(02)</span></a></li>
                <li><a href="#"> shoes<span>(04)</span></a></li>
                <li><a href="#"> House decors<span>(07)</span></a></li>
              </ul>
            </div>
            <div class="tags mt-50">
              <div class="sidebar-title">
                <h5>Tags</h5>
              </div>
              <ul class="tag-list pt-20">
                <li><a href="#">Interior</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Decor</a></li>
                <li><a href="#">Cooling System </a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
            <div class="instagram mt-40">
              <div class="sidebar-title">
                <h5>Instagram</h5>
              </div>
              <ul class="instagram-list pt-20">
                <li><a href="#"><img src="{% static 'web/img/instagram/13.png' %}" alt="img"></a></li>
                <li><a href="#"><img src="{% static 'web/img/instagram/14.png' %}" alt="img"></a></li>
                <li><a href="#"><img src="{% static 'web/img/instagram/15.png' %}" alt="img"></a></li>
                <li><a href="#"><img src="{% static 'web/img/instagram/16.png' %}" alt="img"></a></li>
                <li><a href="#"><img src="{% static 'web/img/instagram/17.png' %}" alt="img"></a></li>
                <li><a href="#"><img src="{% static 'web/img/instagram/18.png' %}" alt="img"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog Left Sidebar Ends -->
  <!-- Footer Area Starts -->
  {% endblock %}