{% extends 'web/base.html' %} 
{% load static %}


{% block content %}

  <!-- =============Preloader Starts=============-->
  <div class="loader">
    <div class="face face-1">
      <div class="circle"></div>
    </div>
    <div class="face face-2">
      <div class="circle"></div>
    </div>
  </div>
  <!-- =============Preloader Ends=============-->

  <!-- header area starts -->

  {% include 'includes/header.html' %}
  
  <!-- header area ends -->
  <!-- Page Title Area Start -->
  <div class="page-title-area pt-150 pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page-titel-detalis  ">
            <div class="section-title">
              <h2>Blog</h2>
            </div>
            <div class="page-bc">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                  <li class="breadcrumb-item position-relative active" aria-current="page"><a
                      href="{% url 'web:blog' %}">Blog</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title area Ends -->
  <!-- Blog Area Start -->
    <div class="blog-area pt-120">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/7.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique </a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/8.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Sed up tomo amti lemos tareb karo
                    tippu nima tiram khamu jan.</a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/9.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Jamu ta khamu naante commo Condimentum a vehicula tristique </a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/10.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Ami jemon cheyee commodo Condimentum a vehicula tristique </a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/11.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Govir ek nodi dilamcommodo Condimentum a vehicula tristique</a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/12.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Asto ekta mac ante commodo Condimentum a vehicula tristique </a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/13.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique</a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <a href="{% url 'web:shopdetalis' %}"><img src="{% static 'web/img/blog/14.png' %}" alt="img1"></a>
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique </a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="news-items mb-30 ">
              <div class="news-img">
                <img src="{% static 'web/img/blog/15.png' %}" alt="img1">
              </div>
              <span class="d-block pt-25">By Wpsmasher | Oct 15, 2021</span>
              <div class="news-details pt-5">
                <div class="news-title">
                  <a href="{% url 'web:news' %}">Nam ac elit a ante commodo Condimentum a vehicula tristique</a>
                </div>    
                <a class="slider-btn d-inline-block position-relative mt-10" href="{% url 'web:news' %}">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <nav class="construction-pagination text-center mt-25" aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  <!-- Blog Area Ends -->
  <!-- Footer Area Starts -->
  {% endblock %}