{% extends 'web/base.html' %}
{% load static %}


{% block content %}
  <!-- =============Preloader Starts=============-->
  <div class="loader">
    <div class="face face-1">
      <div class="circle"></div>
    </div>
    <div class="face face-2">
      <div class="circle"></div>
    </div>
  </div>
  <!-- =============Preloader Ends=============-->

  <!-- header area starts -->

  {% include 'includes/header.html' %}
 
  <!-- header area ends -->
  <!-- Page Title Area Start -->
  <div class="page-title-area pt-150 pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page-titel-detalis  ">
            <div class="section-title">
              <h2>Shop List</h2>
            </div>
            <div class="page-bc">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'web:index' %}">Home</a></li>
                  <li class="breadcrumb-item position-relative active" aria-current="page"><a
                      href="{% url 'web:shopgridright' %}">Shop List</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title area Ends -->

  <!-- new arrival area starts -->
  <div class="shop-list shop-grid pt-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 pb-50">
          <div class="toolbar-navi d-inline-block ">
            <div class="toolbar d-flex">
              <div class="sort-by  d-flex mr-30">
                <span class="mr-10 mt-5">Sort by :</span>
                <div class="sort-by-option option-list position-relative">
                  <button id="sort-option" class="option-dropdown">Most Recent <i class="fas fa-caret-down"></i></button>
  
                  <div id="sub-sort-option" class="sub-sort-option sub-option  position-absolute " >
                    <ul>
                      <li>
                        <span>Alphabet</span>
                      </li>
                      <li><span>Price</span></li>
                    </ul>
                  </div>
                </div>
  
              </div>
              <div class="show-option d-flex">
                <span class="mr-10 mt-5">Show :</span>
                <div class="show-option-list option-list position-relative">
                  <button id="show-option-numbe" class=" option-dropdown">11 <i class="fas fa-caret-down"></i></button>
                  <div id="sub-show-option" class="sub-show-option sub-option position-absolute" >
                    <ul>
                      <li><span>20</span></li>
                      <li><span>28</span></li>
                      <li><span>40</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="view-as d-flex ml-25">
                <ul class="view-as-button">
                  <li> <a href="{% url 'web:shopgrid' %}"><i class="fab fa-microsoft"></i></a></li>
                  <li> <a href="{% url 'web:shoplist' %}"><i class="fas fa-list-ul"></i></a></li>
                </ul>
  
              </div>
  
  
            </div>
          </div>
          <nav class="construction-pagination float-right" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-12">
          <div class="product-list new-arrival-2 new-arrival">
            <div class="product-wrapper mb-30">
              <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                  <div class="arrival-items arrival-new-items d-flex position-relative">
                    <div class="arrival-img mt-50 ml-25 mb-50">
                      <img src="{% static 'web/img/products/01.png' %}" alt="bag">
                    </div>
                    <div class="arrival-details position-relative pt-75 ml-50">
                      <h5><a href="{% url 'web:shopdetalis' %}">Green Hand Bag</a></h5>
                      <ul class="rating pt-10">
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                      </ul>
                      <div class="materials pt-15">
                        <h6>Materials: <span>Plastic Body</span></h6>
                      </div>
                      <div class="product-color pt-10 d-flex">
                        <h6>Color:</h6>
                        <div class="color-code">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <div class="product-size d-flex pt-10">
                        <h6>Size: </h6>
                        <ul class="ml-5">
                          <li>Xl <span>|</span></li>
                          <li>L<span>|</span></li>
                          <li>M<span>|</span></li>
                          <li>S<span>|</span></li>
                          <li>XS</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="buy-details text-center pt-95">
                    <span>$219.00</span>
                    <div class="delivery pt-15 pb-25">
                      <span><i class="las la-luggage-cart"></i>Free delivery US</span>
                    </div>
                    <div class="cart-button">
                      <a href="{% url 'web:shoppingcart' %}">Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-wrapper mb-30">
              <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                  <div class="arrival-items  d-flex position-relative">
                    <div class="arrival-img mt-50 ml-25 mb-50">
                      <img src="{% static 'web/img/products/5.png' %}" alt="Headset">
                    </div>
                    <div class="arrival-details position-relative pt-75 ml-50">
                      <h5><a href="{% url 'web:shopdetalis' %}">Kitty Electronic Headset</a></h5>
                      <ul class="rating pt-10">
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                      </ul>
                      <div class="materials pt-15">
                        <h6>Materials: <span>Plastic Body</span></h6>
                      </div>
                      <div class="product-color pt-10 d-flex">
                        <h6>Color:</h6>
                        <div class="color-code">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <div class="product-size d-flex pt-10">
                        <h6>Size: </h6>
                        <ul class="ml-5">
                          <li>Xl <span>|</span></li>
                          <li>L<span>|</span></li>
                          <li>M<span>|</span></li>
                          <li>S<span>|</span></li>
                          <li>XS</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="buy-details text-center pt-95">
                    <span>$219.00</span>
                    <div class="delivery pt-15 pb-25">
                      <span><i class="las la-luggage-cart"></i>Free delivery US</span>
                    </div>
                    <div class="cart-button">
                      <a href="{% url 'web:shoppingcart' %}">Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="product-wrapper">
              <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8">
                  <div class="arrival-items  d-flex position-relative">
                    <div class="arrival-img mt-50 ml-25 mb-50">
                      <img src="{% static 'web/img/products/17.png' %}" alt="Wooden Ring">
                    </div>
                    <div class="arrival-details position-relative pt-75 ml-50">
                      <h5><a href="{% url 'web:shopdetalis' %}">Wooden Ring</a></h5>
                      <ul class="rating pt-10">
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                        <li><i class="las la-star"></i></li>
                      </ul>
                      <div class="materials pt-15">
                        <h6>Materials: <span>Plastic Body</span></h6>
                      </div>
                      <div class="product-size d-flex pt-10">
                        <h6>Size: </h6>
                        <ul class="ml-5">
                          <li>Xl <span>|</span></li>
                          <li>L<span>|</span></li>
                          <li>M<span>|</span></li>
                          <li>S<span>|</span></li>
                          <li>XS</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                  <div class="buy-details text-center pt-95">
                    <span>$219.00</span>
                    <div class="delivery pt-15 pb-25">
                      <span><i class="las la-luggage-cart"></i>Free delivery US</span>
                    </div>
                    <div class="cart-button">
                      <a href="{% url 'web:shoppingcart' %}">Add to cart</a>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
        <div class="col-xl-12">
          <nav class="construction-pagination text-center pt-60" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </nav>
          <div class="view-items text-center mt-60">
            <a class="p-btn position-relative" href="{% url 'web:shopgrid' %}">
            {% url 'web:shopgrid' %}ore</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- new arrival area ends -->


  <!-- Footer Area Starts -->
  {% endblock %}